<!-- <label>Title:
  <input [(ngModel)]="keepToAdd.title" placeholder="title">
</label>
<label>keepID:
  <input [(ngModel)]="keepToAdd.keepID" placeholder="keepID">
</label>
<label>plainText:
  <input [(ngModel)]="keepToAdd.plainText" placeholder="plainText">
</label>
<label>label:
  <input [(ngModel)]="keepToAdd.label" placeholder="label">
</label>
<label>ispinned:
  <input type="checkbox" [(ngModel)]="keepToAdd.ispinned" placeholder="ispinned">
</label>
<label>checklist:
  <li *ngFor="let a of keepToAdd.checklist">
    <input [(ngModel)]="a.item" placeholder="item">
  </li>
</label>
<button (click)="add(keepToAdd)">Add</button> -->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input [ngModelOptions]="{standalone: true}" matInput placeholder="title" [(ngModel)]="keepToAdd.title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [ngModelOptions]="{standalone: true}" matInput placeholder="keepID" [(ngModel)]="keepToAdd.keepID">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [ngModelOptions]="{standalone: true}" matInput placeholder="plainText" [(ngModel)]="keepToAdd.plainText">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [ngModelOptions]="{standalone: true}" matInput placeholder="label" [(ngModel)]="keepToAdd.label">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="mat-checkbox" [ngModelOptions]="{standalone: true}" matInput placeholder="ispinned" [(ngModel)]="keepToAdd.ispinned">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <li *ngFor="let a of keepToAdd.checklist">
      <input [ngModelOptions]="{standalone: true}" matInput placeholder="checklist" [(ngModel)]="a.item">
    </li>
  </mat-form-field>

  <!-- <mat-selection-list #list [(ngModel)]="keepToAdd" (ngModelChange)="onNgModelChange($event)">
      <mat-list-option *ngFor="let tta of keepToAdd.checklist">
          {{tta.item}}
      </mat-list-option>
  </mat-selection-list> -->

  <button mat-fab (click)="add(keepToAdd)">Add</button>
</form>
